scheduler:

  - type:       Script
    name:       script_task
    file:       "{fld}/some_script.php"
    args:     
      param1:   value1
      param2:   value2
    # startDate: 2025-01-04 18:20:00
    interval:   5sec

  - type:       URL
    name:       quick_sync
    url:        http://example.com/quick-sync
    args:       
      action:   sync
      mode:     quick
    interval:   5sec
    likeliness: 50
